<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd"
       default-lazy-init="true">
    <context:component-scan base-package="com.zjl.mouse.mouse"/>
    <!-- 配置电商数据源 -->
    <bean id="dataSource"
          class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close">
        <!-- 基本属性 url、user、password -->
        <property name="driverClassName" value="${dataSource.driverClassName}" />
        <property name="url" value="${dataSource.url}" />
        <property name="username" value="${dataSource.username}" />
        <property name="password" value="${dataSource.password}" />
        <!-- 默认配置初始化大小、最小、最大，可调整 -->
        <property name="initialSize" value="20" />
        <property name="minIdle" value="20" />
        <property name="maxActive" value="50" />
        <!-- 默认配置获取连接等待超时的时间，可调整 -->
        <property name="maxWait" value="600000" />
        <property name="testOnBorrow" value="false" />
        <property name="testWhileIdle" value="true" />
        <property name="validationQuery" value="select 1 from dual" />
    </bean>
    <bean id="espSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!-- 自动扫描mapping.xml文件 -->
        <property name="mapperLocations">
            <list>
                <value>classpath*:com/zjl/mouse/mousedb/**/dao/sqlmap/*.xml</value>
            </list>
        </property>
        <property name="typeAliasesPackage" value="com.zjl.mouse.mousedb.model"></property>
    </bean>
    <!-- DAO接口所在包名，Spring会自动查找其下的类 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.zjl.mouse.mousedb.dao" />
        <property name="sqlSessionFactoryBeanName" value="espSqlSessionFactory"></property>
    </bean>
<!--    <aop:config>-->
<!--        <aop:aspect ref="wsTraceAdvice" order="0">-->
<!--            <aop:around method="serviceInvoke" pointcut="execution(* com.zjl.mouse.mouse..*.service.*.*(..))"/>-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->

    <import resource="classpath:/config/mouse/rigistry.xml"/>
    <import resource="classpath:/config/mouse/provicer.xml"/>
    <import resource="classpath:/config/mouse/traceConfig.xml"/>
    <import resource="classpath:/config/mouse/baseConfig.xml"/>

</beans>
